<?xml version="1.0" encoding="UTF-8"?>
<robot name="robot">
	
<link name="base">
	<visual>
		<geometry>
			<cylinder radius="0.1" length=".1" />
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 -0.1" />
	</visual>
	<collision>
		<geometry>
			<cylinder radius="0.1" length=".1" />
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 -0.1" />
	</collision>
</link>
<link name="base_cylinder">
	<visual>
		<geometry>
			<cylinder radius="0.05" length=".1" />
		</geometry>
		<material name="white"/>
		<origin rpy="0 0 0" xyz="0 0 0" />
	</visual>
	<collision>
		<geometry>
			<cylinder radius="0.05" length=".1" />
		</geometry>
		<origin rpy="0 0 0" xyz="0 0 0" />
	</collision>
</link>

<joint name="base_joint" type="revolute">
	<axis xyz="0 0 1"/>
	<parent link="base"/>
	<child link="base_cylinder" />
  	<origin xyz="0 0 0"/>
</joint>

<!-- Material -->
<material name="white">
    <color rgba="1 1 1 1"/>
</material>
<material name="blue">
    <color rgba="0 0 0.9 1.0"/>
</material>

</robot>